* {margin: 0; padding: 0; outline: 0;}


body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #e5e5e5;
	font-size: 12px;
	background:#bfbfbf;
        overflow: auto;
	
}


h1, h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin:0 0 15px 0;
}


h1 {
	font-size: 36px;
	letter-spacing: -1px;
	line-height: 100%;
}


h2 {
	font-size: 24px;
}


p {
	margin: 0 0 15px 0;
}

a {
	color: #3e3e3e;
}



.clear {
	clear: both;
}
.wrap {
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0;

}



.section {
	width: 100%;
	max-width: 1600px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 20px 0;
	height: 500px;
}


.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	//padding:30px 0;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.inner:after {
	  content: "";
	  display: table;
	  clear: both;
}


.subMenu {
	height: 50px;
	z-index: 1000;
	width: 100%;
	background: #FFFFFF;
        color: #858585;
        border: 1px solid #f3f3f3;
        
}

.subMenu .inner {
	padding:0;
	margin: 0 auto;
        font-weight: 600;
}


.subNavBtn {
	display: block;
	height: 35px;
	width: 10%;
	float: left;
	margin: 0px 0px 0 0;
	text-decoration: none;
	font-size: 14px;
	padding: 15px 2% 0 2%;
	text-align: center;
}
.subMenu a:hover {
	background: #f3f3f3;
}

.active {
	background: #f3f3f3;
}
.end {
	margin: 0;
}




/* SECTIONS */
.sTop {
	min-height: 130px;
	background:#fff;
	color:#858585;
	padding: 50px 0;
	height: 475px;
        background-image: url("image/pattern_background.png");
	
}

.s1 {
	background:#FFFFFF;
	color:#7e7e7e;
        font-size: 1em;
	
}


.s2 {
	background: #f3f3f3;
        color: #7e7e7e;
}
.s2 a {
	color: #fff;
}

.s3 {
	background: #ffffff;
        color: #7e7e7e;
}


.s4 {
	background: #f3f3f3;
        color: #7e7e7e;
}



.s5 {
	background: #FFFFFF;
	color: #7e7e7e;
}

.s6 {
        background: #ffffff;
	color: #7e7e7e;
}

.title {
    position: absolute;
    color: #f0493e;
    //border: 1px solid black;
    font-size: 2em;
    font-weight: 500;
    top: 0;
    left: 0;
    max-width: 150px;
    max-height: 150px;
}

.presentation {
    //border: 1px solid black;
    position: absolute;
    top: 100px;
    left: 30px;
    text-align: center;
}

.logo {
    max-width: 100px;
    max-height: 100px;
}

.subtitle { 
    color: #f0493e;
    //border: 1px solid black;
    font-size: 2.5em;
    font-weight: 500;
}

.text1{
    color: #858585;
    font-size: 1.5em;
    font-weight: 100;
    text-align: left;
}

.shop {
    position: absolute;
    //border: 1px solid black;
    right: 15px;
    left: 15px;
}

.im_1 {
    position: absolute;
    right: 0px;
    top: 50px;
    //border: 1px solid black;
    max-width: 600px;
    max-height: 600px;
}

h3 {
    color: #5a5555;
    font-size: 1.25em;
    font-weight: 600;
    text-align: center;
}

.s1Top {
    position: absolute;
    top: 20px;
    right: 15%;
    left: 15%;
    //border: 1px solid black;
}

.s1Middle {
    position: absolute;
    top: 110px;
    left: 10%;
    right: 0;
    //border: 1px solid black;
}

.s1MR {
    position: absolute;
    top: 20%;
    right: 0;
    //border: 1px solid black;
    width: 60%;
    text-align: center;
}

.s2ML {
    position: absolute;
    left: 5%;
    top: 166px;
    //border: 1px solid black;
    max-width: 500px;
}

.s2img {
    position: absolute;
    right: 20px;
    top: 60px;
}

.s3Middle {
    position: absolute;
    top: 30px;
    left: 10%;
    right: 0;
    //border: 1px solid black;
}

.s3MR {
    position: absolute;
    top: 20%;
    right: 0;
    //border: 1px solid black;
    width: 60%;
    text-align: center;
}

.s4img {
    position: absolute;
    right: 20px;
    top: 60px;
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

h4 {
    color: #FFFFFF;
    font-size: 1.25em;
    font-weight: 600;
    text-align: center;
}

.s51 {
    width: 100%;
    height: 150px;
    background-image: url("image/red_pattern_background.png");   
}

.s5T {
    position: absolute;
    top: 20px;
    left: 10%;
    right: 10%;
}

.s5M {
    position: absolute;
    left: 10%;
    right: 10%;
    top: 100px;
}

.s52 {
    position: absolute;
    //border: 1px solid black;
    text-align: center;
    top: 25px;
    left: 32%;
    right: 32%;
}

h5 {
    color: #7e7e7e;
    font-size: 1.25em;
    font-weight: 200;
    text-align: center;
    margin-top: 20px;
}

h6 {
    color: #7e7e7e;
    font-size: 1.25em;
    font-weight: 400;
    text-align: center;
}

.s53 {
    position: absolute;
    height: 50px;
    border-top: 3px solid #f3f3f3;
    bottom:0;
    width: 100%;
}